/* external css */
/* reset default margin dan padding untuk semua elemen pada html*/
*{
    margin:  0px;
    padding: 0px;
}
/* elemen selector */
body {
    background-color: #d2db7f;
    font-family: Verdana;
    /* ini komentar css */
    /* text - align: center; */
}

ul {
    /*menghilangkan bullet ul*/
    list-style-type: none;
    background-color: #14223b;
    overflow: hidden;
}

li {
    /*memaksa list berada disebelah kiri dari list sebelumnya*/
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-color: #f3e0b5;
}


/* class selector  */
.txt-center {
    text-align: center;
}

.bg-primary {
    background-color: #ffe4a3c5;
    /*border-radius: 15px;*/
    /*top-left | top-right | bottom-right | bottom-left*/
    border-radius: 0px 0px 15px 15px ;
}

.pb-1 {
    padding-bottom: 1px;
}

.mb-5 {
    margin-bottom: 5px;
}